-e datatrove-zhtw
git+https://github.com/APCLab/jieba-tw.git
orjson
faust-cchardet
python-magic
warcio
pyahocorasick
fasteners
tldextract
pyarrow
pandas
datasets
trafilatura
tokenizers
Cython
pybind11
setuptools
fasttext==0.9.3
spacy